<h1>Select a Department</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="DepSelect">
            <!--Simple form that uses the list of employees to extract unique 
                department names for the drop down menu when user creates a new ticket-->
            <div class="form-group">
                <label for="DepartmentName" class="control-label"></label>
                <select name="DepartmentName" class="form-control">
                    @{
                        List<string> depList = new List<string>();
                        foreach (var user in ViewBag.employeeList)
                        {
                            if (!depList.Contains(user.EmployeeDepartment))
                            {
                                depList.Add(user.EmployeeDepartment);
                                <option value="@user.EmployeeDepartment">
                                    @user.EmployeeDepartment
                                </option>
                            }
                        }

                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

